body{
  background: #D1D7EF;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

img {
  height: 5%;
  width: 5%;
  float: right;
  margin: "auto";
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.scripture {
  font-style: italic;
  color: blue;
}

.boxed {
  font-style: italic;
  font-size: 25px;
  color: black;
  background-color: gray;
  border: 5px solid blue;
}

.err {
  color: red;
}

#signup-form {
  align: center;
}

#dailyverse {
  color: black;
}

#header {
  background-color: #444;
}
/* Navbar container */
#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
#navbar a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#heading {

}
